body {
  font-family: Arial;
  margin-top: 50px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.inventory {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: larger;
  width: 420px;
}

.block {
  background-color: rgba(254, 255, 255, 0.111);
  width: 420px;
}

.tab {
  background-color: #f2f2f2;
  width: inherit;
  margin-bottom: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
}

.tab button {
  margin: 10px;
  padding: 20px;
  background-color: rgb(181, 181, 181);
  order: none;
  outline: none;
  cursor: pointer;
}

.list-container {
  background-color: #f2f2f2;
  width: 440px;
  display: flex;
  /* padding-left: 30px; */
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.selected {
  background-color: green;
  color: white;
}

.list {
  list-style: none;
  padding: 0;
  padding-left: 40px;
}

.count {
  padding-left: 40px;
  padding-top: 10px;
}

.item {
  width: 330px;
  padding: 10px;
  border: 1px solid #604191;
  margin-bottom: 5px;
  cursor: pointer;
  
}

.tab button.selected {
  background-color: green;
  color: white;
}

.item.selected {
  background-color: green;
  color: white;
}
